/* GENERICS //////////////////////////// */
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font: inherit;
}

html {
	font-size: 16px;
	font-size: clamp(14px, 1.4vw, 20px);
}

body {
	background: rgb(47, 47, 47);
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
	list-style-type: none;
}

table {
	border-collapse: collapse;
}

input,
select {
	padding: 2px 0.5rem;
	border: 1px solid lightgrey;
}

button {
	padding: 2px 0.5rem;
	cursor: pointer;
}

input,
select:disabled {
	outline: none;
}

/* HEADER /////////////////////////////// */

header {
	padding: 0px 48px;
	display: flex;
	justify-content: space-between;
	background: black;
}

.section-selector {
	display: flex;
	color: white;
}

.tab {
	padding: 5px 20px;
	cursor: pointer;
	text-decoration: none;
	border-top: 0.5rem solid black;
	border-bottom: 0.5rem solid black;
}

.tab:hover {
	color: gold;
}

.active-tab,
.active-tab:hover {
	background: rgb(47, 47, 47);
	border-bottom-color: transparent;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login input {
	max-width: 150px;
}

.section {
	padding: 2.5vw 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* LIVE  ///////////////////////////////// */

#live-sec {
	padding: 2.5vw 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.mach {
	width: clamp(120px, 15vw, 180px);
	height: clamp(72px, 9vw, 108px);
	font-size: clamp(12px, 1vw, 16px);
	margin: 2px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
}

.mach p {
	text-align: center;
}

.mach button {
	height: 25px;
	width: 25px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(255, 255, 255, 0.1);
	color: #999;
	border: none;
	outline: none;
	border-radius: 15px;
	cursor: pointer;

	perspective: 5000px;
	perspective: 50000px;
}

.silo,
.live-dumper {
	border: 1px solid #666;
	color: white;
}

.rake-incrementer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.silo input {
	background: transparent;
	border: none;
	outline: none;
	color: #aaa;
	text-align: center;
}

.live-dumper div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.dumper-param {
	color: grey;
}

.inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.2s;
	transform-style: preserve-3d;
	color: white;
}

.front,
.back {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	backface-visibility: hidden;
	padding: 10px;
}

.back {
	transform: rotateY(180deg);
	background: white;
	color: #333;
}

.back * {
	width: 100%;
}

@media (min-width: 768px) {
	.mach:hover .inner {
		transform: rotateY(180deg);
	}
}

/* TREND SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
#trends-sec {
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
}

#trends-sec .container {
	max-height: 80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 0.8rem;
}

.trend-row {
	width: 48%;
	margin: 10px;
	/* display: flex; */
	height: 30px;
}

.mcname {
	width: 10vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
}

@media (max-width: 1000px) {
	.trend-row {
		width: 100%;
		display:block;
		height:30px;
	}

	.mcname{
		width:100%;
	}
}



.mctrend {
	height: 20px;
	display: flex;
	flex-grow: 1;
	border-radius: 5px;
	/* overflow: hidden; */
}

.trend-block {
	height: 100%;
	flex-grow: 1;
	cursor: pointer;
}

.trend-block:last-of-type {
	border-right: 1px solid rgb(188, 188, 188, 0.2);
}

.trend-block:hover {
	border: 1px solid yellow;
}

.IDL-block {
	background: rgb(51, 87, 83);
}

.RNG-block {
	background: rgb(0, 225, 50);
}

.BDN-block {
	background: rgb(255, 0, 60);
}

.UDF-block {
	background: rgba(163, 163, 163, 0);
	border-top: 1px solid rgb(188, 188, 188, 0.2);
	border-bottom: 1px solid rgb(188, 188, 188, 0.2);
}

/* GRAPHS /////////////////////////////////////////////////////// */

#graphs-sec {
	display: flex;
	flex-wrap: wrap;
	color: white;
}

.graphs-tbl {
	width: 350px;
	height: 250px;
	margin: 10px;
	border-collapse: collapse;
}

.tbl-hdr td {
	background: rgb(80, 79, 79);
}

.graphs-tbl td {
	border: 1px solid rgb(128, 126, 126);
	width: 25%;
	padding: 10px;
}

.graphs-tbl td:first-child {
	width: 15%;
}

.graphs-tbl td:nth-child(2) {
	width: 35%;
}

.graphs-tbl .bar-td {
	padding: 5px 20px 0px;
	font-size: 0.7rem;
}

.bar-parent {
	border: 1px solid rgb(65, 64, 64);
	height: 100%;
	/* background:yellow; */
	display: flex;
	align-items: flex-end;
	position: relative;
}

.avl-bar {
	background: rgb(0, 124, 225);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.utl-bar {
	background: rgb(15, 223, 50);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bar-parent span {
	position: absolute;
	bottom: 50%;
}

/* TABLES ///////////////////////////////////////////////////////////// */

#tables-sec {
	color: white;
	display:grid;
	grid-template-rows:auto auto auto auto;
	grid-template-columns:1fr 1fr;
	grid-gap:20px;
	align-items: flex-start;
	font-size:0.7rem;
}

#tables-sec table {

}

.tbl-crushers{
	grid-column: 1;
	grid-row:1;
}

.tbl-shovels{
	grid-column: 1;
	grid-row:2/-1;
}



.tbl-draglines{
	grid-column: 2;
	grid-row:1;
}

.tbl-east-dumpers{
	grid-column: 2;
	grid-row:2;
}

.tbl-west-dumpers{
	grid-column: 2;
	grid-row:3;
}

#tables-sec td,
th {
	border: 1px solid #777;
	padding: 1.2vh 0.5vw;
}

#tables-sec th {
	text-align: left;
}
#tables-sec tr:nth-child(even) {
	background: #444;
}

#tables-sec tr.head,
tr.total {
	background: #666;
}

#tables-sec input {
	max-width: 10vw;
	border: 1px solid #555;
	background: transparent;
	color: white;
}

#tables-sec input:disabled {
	border: none;
}

/* SPECIFICS /////////////// */

.IDL {
	background: #454545;
}

.RNG {
	background: rgb(0, 225, 50);
}

.BDN {
	background: rgb(255, 0, 60);
}

.Undef {
	background: rgba(163, 163, 163, 0);
}

.tooltip {
	position: relative;
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 80px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -40px;
	opacity: 0;
	transition: opacity 0.3s;
	background: yellow;
	color: #444;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: yellow transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* MOBILE //////////////////////////////////////////////// */
@media (max-width: 700px) {
	.login {
		display: none;
	}

	.header-title {
		display: none;
	}
}
