
*{
    box-sizing: border-box;
    border-collapse:collapse;
    font:inherit;
}

body {
    background:#9e9e9e;
    font-family: 'Muli', sans-serif;      
}

.main-header {
    margin:10px auto;
    background-color:deepskyblue;
    color:white;
    text-align:center;
    font-size:2rem;
    padding:10px;
    box-shadow:0px 8px 8px 2px rgba(0,0,0,0.5);   
}

.main-nav{
    display:flex;
    justify-content:center;
    background:white;
    padding:10px;
}

.sub-header {
    display:flex;
    justify-content:space-between;
    width:98%;
    margin:15px auto;
    background-color:deepskyblue;
    color:white;
    font-size:2rem;
    padding:10px;
    box-shadow:0px 4px 8px 2px rgba(0,0,0,0.5);  
    border-radius:3px;
}



.main-content{

}

.section {
    background:white;
    width:98%;
    min-height:500px;
    margin:15px auto;
    padding:0 32px 50px;
    box-shadow:0px 4px 8px 2px rgba(0,0,0,0.5);  
    border-radius:3px;
}

.sub-header {
    text-align:center;
    font-size:1.5rem;
    padding:6px;
}

/* ///////////////////////////////////////  UI Elements */


input, select, textarea{
    width:100px;
    padding:6px 10px;
    font-size:1rem;
    color:blue;
    text-align:left;
    border:1px solid lightgrey;
    border-radius:3px;
}

textarea {
    width:95%;
    resize: vertical;
}

input:focus,textarea:focus {
  outline: 3px solid gold;
}

input::placeholder{
    color:white;
    text-align:center;
}

input:focus::placeholder{
    color:grey;
}

span.unit{
    color:white;
}

input:focus+span{
    color:deepskyblue;
}



select:disabled, input:disabled{
background:grey;
color:lightgrey;
}

button {
    width:5rem;
    height:2.2rem;
    margin:5px;
    cursor:pointer;
    font-size:1rem;
    background:deepskyblue;
    color:white;
    border:1px solid deepskyblue;
    border-radius:3px;
    box-shadow:3px 3px 5px 0px rgba(0,0,0,0.2);  
}

button:hover{
    background:white;
    color:deepskyblue;
    
}

button:active{
    transform:scale(0.9);
}

button:disabled{
    background:lightgrey;
    color:white;
    border-color:lightgrey;
}

.cancel-btn {
    width:30px;
    height:30px;
    padding:0px;
    font-size:16px;
}



/* ///////////////////////////////////////////////////////////////// Table */

.data-table {
    margin:0 auto;
    width:100%;
}

td {
    text-align:center;
}

tr.name-row td{
    padding:6px 0;
    background:deepskyblue;
    color:white; 
    font-size:1.5rem;
}
tr.head-row td{
    padding:6px 0;
    background-color:deepskyblue;
    color:white;
    border-bottom:1px dashed white;
    
}

tr.unit-row td{
    padding:6px 0;
    background-color:deepskyblue;
    color:white;
    border-bottom:1px dashed white;
    font-size:0.9rem; 
}

tr.data-row td{
    color:grey;
    padding:12px 0;
    border:15px ridge;
    border-width:0 0 1px;
}

tr.total-row td {
    color:blue;
}

td.name-col{
    Text-align:right;  
}

tr.data-row td.name-col{
    color:blue;
}


/* ///////////////////////////////////////////////////////// Generic */
.hdn {
    display:none;  
}

.cbx {
    display:inline-flex;
    justify-content:center;
    align-items:center;
}

.card {
    box-shadow:0px 4px 8px 2px rgba(0,0,0,0.5);   
}

/* //////////////////////////////////specific */
#east-shovels {
    
}

#west-shovels{

}

#draglines{

}

#surface-miners{

}

#outsourcing{
 
}

td.pool{
    padding:10px 0px;
}
