<!DOCTYPE html>
<html>

<head>
    <script src="libs/angular.js"></script>
    <script src="libs/jquery.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>shift end report</title>
</head>

<body class="" ng-app="dch" ng-controller='ctrl' ng-click="refresh()">
    <!-- ///////////////////////////////////////////////////////////////////////////// page head -->
    <div class="page-head">
        <div class="inline" style="width:25%">
            <h4>{{date}}, {{shifts[shift]}} Shift</h4>
        </div>
        <div class="inline" style="width:50%">
            <h1>Shift End Report</h1>
        </div>
        <div class="inline" style="">
            <span ng-show="user!='none'">User:{{user}}</span>
            <input class="" ng-show="user=='none'" type="password" name="pin" id="pin" placeholder="pin">
            <button class="" style="padding:2px 5px;" ng-show="user=='none'">login</button>
        </div>
    </div>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// shovel section -->
    <div id="shovel-section" class="">
        <div class="section-header" style="margin:0px;">
            <span class="">SHOVELS</span>
        </div>
        <!-- /////////////////////////////////////////////////////////////////////////////////////shovel east-->
        <div id="shovel-east" class="" style="min-height:200px;">
            <h3 class="" style="margin:0px;">East Shovels</h3>
            <div class="shovel-pool">
                <button class="" ng-repeat="x in shovels" ng-click="addShovelEast(x);" ng-disabled="x.added">
                    {{x.name}}
                </button>
            </div>
            <table class="">
                <tr>
                    <th>NAME</th>
                    <th>COAL-100</th>
                    <th>COAL-120</th>
                    <th>OB-100</th>
                    <th>0B-120</th>
                    <th>REMOVE</th>
                </tr>
                <tr ng-repeat="x in eastShovels">
                    <td>{{x.name}}</td>
                    <td><input type="number" ng-model="x.coal100"></td>
                    <td><input type="number" ng-model="x.coal120"></td>
                    <td><input type="number" ng-model="x.ob100"></td>
                    <td><input type="number" ng-model="x.ob120"></td>
                    <td><button ng-click="eastShovels.splice($index,1);shovels[x.id].added=false;">x</button></td>
                </tr>
                <tr class="">
                    <th>TOTAL</th>
                    <th>{{eastShovelsTotal.coal100}}</th>
                    <th>{{eastShovelsTotal.coal120}}</th>
                    <th>{{eastShovelsTotal.ob100}}</th>
                    <th>{{eastShovelsTotal.ob120}}</th>
                    <th></th>
                </tr>
            </table>
        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////////shovel west-->

        <div id="shovel-west" class="" style="min-height:200px;">
            <h3 class="" style="margin:0px;">West Shovels</h3>
            <div class="shovel-pool">
                <button class="" ng-repeat="x in shovels" ng-click="addShovelWest(x);" ng-disabled="x.added">
                    {{x.name}}
                </button>
            </div>
            <table class="">
                <tr>
                    <th>NAME</th>
                    <th>COAL-100</th>
                    <th>COAL-85</th>
                    <th>OB-100</th>
                    <th>0B-85</th>
                    <th>REMOVE</th>
                </tr>
                <tr ng-repeat="x in westShovels">
                    <td>{{x.name}}</td>
                    <td><input type="number" ng-model="x.coal100"></td>
                    <td><input type="number" ng-model="x.coal85"></td>
                    <td><input type="number" ng-model="x.ob100"></td>
                    <td><input type="number" ng-model="x.ob85"></td>
                    <td><button ng-click="westShovels.splice($index,1);shovels[x.id].added=false;">X</button></td>
                </tr>
                <tr>
                    <th>TOTAL</th>
                    <th>{{westShovelsTotal.coal100}}</th>
                    <th>{{westShovelsTotal.coal85}}</th>
                    <th>{{westShovelsTotal.ob100}}</th>
                    <th>{{westShovelsTotal.ob85}}</th>
                    <th></th>

                </tr>
            </table>
        </div>


    </div>
</body>

</html>