<!DOCTYPE html>
<html lang="en">
<title>DCH Live</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/live.css">

<script src="libs/jquery.js" defer></script>
<script src="libs/angular.js"></script>

<script src="js/live.js" defer></script>
<script src="js/navigation.js" defer></script>


<body ng-app="myApp" ng-controller="myController">
    <header>
        <ul class="section-selector">
            <li id="live-tab" href="#" onmouseDown="openSection('live')" class="tab">Live</li>
            <li id="trends-tab" href="#" onmouseDown="openSection('trends')" class="tab  ">Trends</li>
            <li id="graphs-tab" href="#" onmouseDown="openSection('graphs')" class="tab  ">Graphs</li>
            <li id="tables-tab" href="#" onmouseDown="openSection('tables')" class="tab  ">Tables</li>
        </ul>
        <div class="login">
            <div class="" ng-hide="auth">
                <input type="password" name="" id="" class="" ng-model="pin">
                <button class="" ng-click="login()">LOGIN</button>
            </div>
            <div class=" " ng-hide="!auth">
                <span class="">{{user}}</span>
                <button class="" ng-click="auth=false; user='Guest'; pin=''">LOGOUT</button>
            </div>
        </div>

    </header>
    <main>


        <div class="section" id="live-sec">
            <div class="silo mach" ng-repeat="silo in silos">
                <p clas="silo-name"> {{silo.name}}</p>
                <div class="rake-incrementer">
                    <button ng-click="silo.rakes=silo.rakes-1; update()" ng-hide="!auth">-</button>
                    <span>{{silo.rakes}}</span>
                    <button ng-click="silo.rakes=silo.rakes+1; update()" ng-hide="!auth">+</button>
                </div>
                <input type="text" ng-model="silo.remark" ng-change="update()">
            </div>

            <div class="mach live-dumper">
                <p> EAST DUMPERS</p>
                <div>
                    <button ng-click="dumperCounter(1)" ng-hide="!auth">-</button>
                    <p class="dumper-param">AVL</p>
                    <p>{{dumper. east_avl}}</p>
                    <button ng-click="dumperCounter(2)" ng-hide="!auth">+</button>
                </div>
                <div>
                    <button ng-click="dumperCounter(3)" ng-hide="!auth">-</button>
                    <p class="dumper-param">RUN</p>
                    <p>{{dumper. east_run}}</p>
                    <button ng-click="dumperCounter(4)" ng-hide="!auth">+</button>
                </div>
            </div>


            <div class="mach live-dumper">
                <p>WEST DUMPERS</p>
                <div>
                    <button ng-click="dumperCounter(5)" ng-hide="!auth">-</button>
                    <p class="dumper-param">AVL</p>
                    <p>{{dumper.west_avl}}</p>
                    <button ng-click="dumperCounter(6)" ng-hide="!auth">+</button>
                </div>
                <div>
                    <button ng-click="dumperCounter(7)" ng-hide="!auth">-</button>
                    <p class="dumper-param">RUN</p>
                    <p>{{dumper.west_run}}</p>
                    <button ng-click="dumperCounter(8)" ng-hide="!auth">+</button>
                </div>
            </div>

            <div class=" mach" ng-repeat="x in machines" ng-hide="x.type!='crusher'">
                <div class="inner">
                    <div class="front {{ statusStrings[x.status] }}">
                        <p class="machine-title">{{ x.name }}</p>
                        <p class="machine-remark">{{ x.remark }}</p>
                    </div>

                    <div class="back">

                        <select ng-model="x.status" ng-change="update()"
                            ng-options="statusStrings[s] for s in statusCodes" ng-disabled="!auth"></select>
                        <input class="back-remark" ng-model="x.remark" ng-change="update()" placeholder="Remark"
                            type="text" ng-disabled="!auth" />
                    </div>
                </div>
            </div>

            <div class=" mach" ng-repeat="x in machines" ng-hide="x.type!='shovel'">
                <div class="inner">
                    <div class="front {{ statusStrings[x.status] }}">
                        <p class="machine-title">{{ x.name }}</p>
                        <p class="machine-remark">{{ x.remark }}</p>
                    </div>

                    <div class="back">

                        <select ng-model="x.status" ng-change="update()"
                            ng-options="statusStrings[s] for s in statusCodes" ng-disabled="!auth"></select>
                        <input class="back-remark" ng-model="x.remark" ng-change="update()" placeholder="Remark"
                            type="text" ng-disabled="!auth" />
                    </div>
                </div>
            </div>

            <div class=" mach" ng-repeat="x in machines" ng-hide="x.type!='dragline'">
                <div class="inner">
                    <div class="front {{ statusStrings[x.status] }}">
                        <p class="machine-title">{{ x.name }}</p>
                        <p class="machine-remark">{{ x.remark }}</p>
                    </div>

                    <div class="back">

                        <select ng-model="x.status" ng-change="update()"
                            ng-options="statusStrings[s] for s in statusCodes" ng-disabled="!auth"></select>
                        <input class="back-remark" ng-model="x.remark" ng-change="update()" placeholder="Remark"
                            type="text" ng-disabled="!auth" />
                    </div>
                </div>
            </div>
        </div>



        <div class="section" id="trends-sec">
            <div class="container">


                <div class="trend-row" ng-repeat="x in machines">
                    <div class="mcname">
                        {{x.name}}
                    </div>
                    <div class="mctrend">
                        <div ng-repeat="y in x.logs track by $index"
                            class="tooltip trend-block {{statusStrings[y]}}-block" ng-click=" trendToggle(x,$index)">
                            <span class="tooltiptext">{{timef($index)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="section" id="graphs-sec">

            <table class="graphs-tbl">
                <tr class="tbl-hdr">
                    <td colspan="4">CRUSHERS</td>
                </tr>
                <tr>
                    <td>IDL</td>
                    <td>{{crusherTotal.idlhms}}</td>
                    <td rowspan="3" class="bar-td">
                        <div class="bar-parent">
                            <div class="avl-bar" style="height:{{crusherTotal.avlstr}}">
                                <span>{{crusherTotal.avlstr}}</span>

                            </div>
                        </div>
                    </td>
                    <td rowspan="3" class="bar-td">
                        <div class="bar-parent">
                            <div class="utl-bar" style="height:{{crusherTotal.utlstr}};">
                                <span>{{crusherTotal.utlstr}}</span>

                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>RUN</td>
                    <td>{{crusherTotal.runhms}}</td>
                </tr>
                <tr>
                    <td>BDN</td>
                    <td>{{crusherTotal.brkhms}}</td>
                </tr>
                <tr>
                    <td>AVL</td>
                    <td>{{crusherTotal.avlhms}}</td>
                    <td>% AVL</td>
                    <td>% UTL</td>
                </tr>
            </table>

            <table class="graphs-tbl">
                <tr class="tbl-hdr">
                    <td colspan="4">SHOVEL</td>
                </tr>
                <tr>
                    <td>IDL</td>
                    <td>{{shovelTotal.idlhms}}</td>
                    <td rowspan="3" class="bar-td">
                        <div class="bar-parent">
                            <div class="avl-bar" style="height:{{shovelTotal.avlstr}}">
                                <span>{{shovelTotal.avlstr}}</span>

                            </div>
                        </div>
                    </td>
                    <td rowspan="3" class="bar-td">
                        <div class="bar-parent">
                            <div class="utl-bar" style="height:{{shovelTotal.utlstr}};">
                                <span>{{shovelTotal.utlstr}}</span>

                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>RUN</td>
                    <td>{{shovelTotal.runhms}}</td>
                </tr>
                <tr>
                    <td>BDN</td>
                    <td>{{shovelTotal.brkhms}}</td>
                </tr>
                <tr>
                    <td>AVL</td>
                    <td>{{shovelTotal.avlhms}}</td>
                    <td>% AVL</td>
                    <td>% UTL</td>
                </tr>
            </table>

            <table class="graphs-tbl">
                <tr class="tbl-hdr">
                    <td colspan="4">DRAGLINES</td>
                </tr>
                <tr>
                    <td>IDL</td>
                    <td>{{draglineTotal.idlhms}}</td>
                    <td rowspan="3" class="bar-td">
                        <div class="bar-parent">
                            <div class="avl-bar" style="height:{{draglineTotal.avlstr}}">
                                <span>{{draglineTotal.avlstr}}</span>

                            </div>
                        </div>
                    </td>
                    <td rowspan="3" class="bar-td">
                        <div class="bar-parent">
                            <div class="utl-bar" style="height:{{draglineTotal.utlstr}};">
                                <span>{{draglineTotal.utlstr}}</span>

                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>RUN</td>
                    <td>{{draglineTotal.runhms}}</td>
                </tr>
                <tr>
                    <td>BDN</td>
                    <td>{{draglineTotal.brkhms}}</td>
                </tr>
                <tr>
                    <td>AVL</td>
                    <td>{{draglineTotal.avlhms}}</td>
                    <td>% AVL</td>
                    <td>% UTL</td>
                </tr>
            </table>



            <table class="graphs-tbl">
                <tr class="tbl-hdr">
                    <td colspan="4">DUMPERS</td>
                </tr>
                <tr>
                    <td>IDL</td>
                    <td>{{dumperTotal.idlhms}}</td>
                    <td rowspan="3" class="bar-td">
                        <div class="bar-parent">
                            <div class="avl-bar" style="height:{{dumperTotal.avlstr}}">
                                <span>{{dumperTotal.avlstr}}</span>

                            </div>
                        </div>
                    </td>
                    <td rowspan="3" class="bar-td">
                        <div class="bar-parent">
                            <div class="utl-bar" style="height:{{dumperTotal.utlstr}};">
                                <span>{{dumperTotal.utlstr}}</span>

                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>RUN</td>
                    <td>{{dumperTotal.runhms}}</td>
                </tr>
                <tr>
                    <td>BDN</td>
                    <td>{{dumperTotal.brkhms}}</td>
                </tr>
                <tr>
                    <td>AVL</td>
                    <td>{{dumperTotal.avlhms}}</td>
                    <td>% AVL</td>
                    <td>% UTL</td>
                </tr>
            </table>
        </div>




        <div class="section" id="tables-sec">
            <table>
                <tr class="head">
                    <td colspan="7">EAST DUMPERS</td>
                </tr>
                <tr class="">
                    <th>HOUR</th>
                    <th>AVL</th>
                    <th>RUN</th>
                    <th>IDL</th>
                    <th>BRK</th>
                    <th>%AVL</th>
                    <th>%UTL</th>
                </tr>
                <tr ng-repeat="x in dumpers track by $index">
                    <td>{{x.hour+1}}</td>
                    <td><input type="number" ng-model="x.east_avl" ng-disabled="!auth || x.hour>=hour"
                            ng-change="update()"></td>
                    <td><input type="number" ng-model="x.east_run" ng-disabled="!auth || x.hour>=hour"
                            ng-change="update()"></td>
                    <td>{{x.east_idl}}</td>
                    <td>{{x.east_brk}}</td>
                    <td>{{x.east_avli}} %</td>
                    <td>{{x.east_utli}} %</td>
                </tr>
                <tr class="total">
                    <td>TOTAL</td>
                    <td>{{dumperTotal.east_avl}} Hrs</td>
                    <td>{{dumperTotal.east_run}} Hrs</td>
                    <td>{{dumperTotal.east_idl}} Hrs</td>
                    <td>{{dumperTotal.east_brk}} Hrs</td>
                    <td>{{dumperTotal.east_avli}} %</td>
                    <td>{{dumperTotal.east_utli}} %</td>
                </tr>
            </table>

            <table>
                <tr class="head">
                    <td colspan="7">WEST DUMPERS</td>
                </tr>
                <tr class="">
                    <th>HOUR</th>
                    <th>AVL</th>
                    <th>RUN</th>
                    <th>IDL</th>
                    <th>BRK</th>
                    <th>AVLI</th>
                    <th>UTLI</th>
                </tr>
                <tr ng-repeat="x in dumpers track by $index">
                    <td>{{x.hour+1}}</td>
                    <td><input type="number" ng-model="x.west_avl" ng-disabled="!auth || x.hour>=hour"
                            ng-change="update()"></td>
                    <td><input type="number" ng-model="x.west_run" ng-disabled="!auth || x.hour>=hour"
                            ng-change="update()"></td>
                    <td>{{x.west_idl}}</td>
                    <td>{{x.west_brk}}</td>
                    <td>{{x.west_avli}} %</td>
                    <td>{{x.west_utli}} %</td>
                </tr>
                <tr class="total">
                    <td>TOTAL</td>
                    <td>{{dumperTotal.west_avl}} Hrs</td>
                    <td>{{dumperTotal.west_run}} Hrs</td>
                    <td>{{dumperTotal.west_idl}} Hrs</td>
                    <td>{{dumperTotal.west_brk}} Hrs</td>
                    <td>{{dumperTotal.west_avli}} %</td>
                    <td>{{dumperTotal.west_utli}} %</td>
                </tr>
            </table>

            <table>
                <tr class="head">
                    <td colspan="7">CRUSHERS</td>
                </tr>
                <tr class="">
                    <th>GC</th>
                    <th>AVL</th>
                    <th>IDL</th>
                    <th>RUN</th>
                    <th>BDN</th>
                    <th>%AVL</th>
                    <th>%UTL</th>
                </tr>
                <tr ng-repeat="s in machines" ng-hide="s.type!='crusher'">

                    <td>{{s.name}}</td>
                    <td>{{s.avlhms}}</td>
                    <td>{{s.idlhms}}</td>
                    <td>{{s.runhms}}</td>
                    <td>{{s.brkhms}}</td>
                    <td>{{s.avlstr}}</td>
                    <td>{{s.utlstr}}</td>
                </tr>
                <tr class="total">
                    <td>TOTAL</td>
                    <td>{{crusherTotal.avlhms}}</td>
                    <td>{{crusherTotal.idlhms}}</td>
                    <td>{{crusherTotal.runhms}}</td>
                    <td>{{crusherTotal.brkhms}}</td>
                    <td>{{crusherTotal.avlstr}}</td>
                    <td>{{crusherTotal.utlstr}}</td>
                </tr>
            </table>

            <table>
                <tr class="head">
                    <td colspan="7">DRAGLINES</td>
                </tr>
                <tr class="">
                    <th>DRG</th>
                    <th>AVL</th>
                    <th>IDL</th>
                    <th>RUN</th>
                    <th>BDN</th>
                    <th>%AVL</th>
                    <th>%UTL</th>
                </tr>
                <tr ng-repeat="s in machines" ng-hide="s.type!='dragline'">

                    <td>{{s.name}}</td>
                    <td>{{s.avlhms}}</td>
                    <td>{{s.idlhms}}</td>
                    <td>{{s.runhms}}</td>
                    <td>{{s.brkhms}}</td>
                    <td>{{s.avlstr}}</td>
                    <td>{{s.utlstr}}</td>
                </tr>
                <tr class="total">
                    <td>TOTAL</td>
                    <td>{{draglineTotal.avlhms}}</td>
                    <td>{{draglineTotal.idlhms}}</td>
                    <td>{{draglineTotal.runhms}}</td>
                    <td>{{draglineTotal.brkhms}}</td>
                    <td>{{draglineTotal.avlstr}}</td>
                    <td>{{draglineTotal.utlstr}}</td>
                </tr>
            </table>


            <table>
                <tr class="head">
                    <td colspan="7">SHOVELS</td>
                </tr>
                <tr class="">
                    <th>SVL</th>
                    <th>AVL</th>
                    <th>IDL</th>
                    <th>RUN</th>
                    <th>BDN</th>
                    <th>%AVL</th>
                    <th>%UTL</th>
                </tr>


                <tr ng-repeat="s in machines" ng-hide="s.type!='shovel'">

                    <td>{{s.name}}</td>
                    <td>{{s.avlhms}}</td>
                    <td>{{s.idlhms}}</td>
                    <td>{{s.runhms}}</td>
                    <td>{{s.brkhms}}</td>
                    <td>{{s.avlstr}}</td>
                    <td>{{s.utlstr}}</td>
                </tr>
                <tr class="total">
                    <td>TOTAL</td>
                    <td>{{shovelTotal.avlhms}}</td>
                    <td>{{shovelTotal.idlhms}}</td>
                    <td>{{shovelTotal.runhms}}</td>
                    <td>{{shovelTotal.brkhms}}</td>
                    <td>{{shovelTotal.avlstr}}</td>
                    <td>{{shovelTotal.utlstr}}</td>
                </tr>
            </table>

        </div>
    </main>
</body>

</html>