<!DOCTYPE html>
<html>

<head>
    <script src="libs/angular.js"></script>
    <script src="libs/jquery.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>shift end report</title>
</head>

<body class="" ng-app="dch" ng-controller='ctrl' ng-click="refresh()">
    <!-- ///////////////////////////////////////////////////////////////////////////// page head -->
    <div class="page-head bordered full">
        <div class="inline bordered tall">
            <h4>{{date}}, {{shifts[shift]}} Shift</h4>
        </div>
        <div class="inline bordered tall">
            <h1>Shift End Report</h1>
        </div>
        <div class="inline bordered tall">
            <span ng-show="user!='none'">User:{{user}}</span>
            <input class="" ng-show="user=='none'" type="password" name="pin" id="pin" placeholder="pin">
            <button ng-show="user=='none'">login</button>
        </div>
    </div>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// shovel section -->
    <div id="shovel-section">
        <h2>Shovels</h2>
        <!-- /////////////////////////////////////////////////////////////////////////////////////shovel east-->
        <div id="shovel-east">
            <h3>East</h3>
            <div class="shovel-pool">
                <button ng-repeat="x in shovels" ng-click="x.east=true;" ng-disabled="x.east">
                    {{x.name}}
                </button>
            </div>
            <table class="">
                <tr>
                    <th>NAME</th>
                    <th>COAL-100</th>
                    <th>COAL-120</th>
                    <th>OB-100</th>
                    <th>0B-120</th>
                    <th>REMOVE</th>
                </tr>
                <tr ng-repeat="x in shovels|filter:{east:true}">
                    <td>{{x.name}}</td>
                    <td><input type="number" ng-model="x.east_data[0]"></td>
                    <td><input type="number" ng-model="x.east_data[1]"></td>
                    <td><input type="number" ng-model="x.east_data[2]"></td>
                    <td><input type="number" ng-model="x.east_data[3]"></td>
                    <td><button ng-click="x.east=false">x</button></td>
                </tr>
                <tr class="">
                    <th>TOTAL TRIPS</th>
                    <th>{{eastShovelsTotal[0]}}</th>
                    <th>{{eastShovelsTotal[1]}}</th>
                    <th>{{eastShovelsTotal[2]}}</th>
                    <th>{{eastShovelsTotal[3]}}</th>
                    <th></th>
                </tr>
                <tr class="">
                    <th>TOTAL QUANTITY</th>
                    <th>{{eastShovelsTotal[0] * 45}} Te</th>
                    <th>{{eastShovelsTotal[1] * 55}} Te</th>
                    <th>{{eastShovelsTotal[2] * 25}} CuM</th>
                    <th>{{eastShovelsTotal[3] * 29}} CuM</th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th>Total Coal</th>
                    <th>{{eastShovelsTotal[0] * 45 + eastShovelsTotal[1] * 55}} Te</th>
                    <th>Total OB</th>
                    <th>{{eastShovelsTotal[2] * 25 + eastShovelsTotal[3] * 29 }} CuM</th>
                    <th></th>
                </tr>
            </table>

        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////////shovel west-->

        <div id="shovel-west">
            <h3>west</h3>
            <div class="shovel-pool">
                <button ng-repeat="x in shovels" ng-click="x.west=true;" ng-disabled="x.west">
                    {{x.name}}
                </button>
            </div>
            <table class="">
                <tr>
                    <th>NAME</th>
                    <th>COAL-100</th>
                    <th>COAL-85</th>
                    <th>OB-100</th>
                    <th>0B-85</th>
                    <th>REMOVE</th>
                </tr>
                <tr ng-repeat="x in shovels|filter:{west:true}">
                    <td>{{x.name}}</td>
                    <td><input type="number" ng-model="x.west_data[0]"></td>
                    <td><input type="number" ng-model="x.west_data[1]"></td>
                    <td><input type="number" ng-model="x.west_data[2]"></td>
                    <td><input type="number" ng-model="x.west_data[3]"></td>
                    <td><button ng-click="x.west=false">x</button></td>
                </tr>
                <tr class="">
                    <th>TOTAL TRIPS</th>
                    <th>{{westShovelsTotal[0]}}</th>
                    <th>{{westShovelsTotal[1]}}</th>
                    <th>{{westShovelsTotal[2]}}</th>
                    <th>{{westShovelsTotal[3]}}</th>
                    <th></th>
                </tr>
                <tr class="">
                    <th>TOTAL QUANTITY</th>
                    <th>{{westShovelsTotal[0] * 45}} Te</th>
                    <th>{{westShovelsTotal[1] * 55}} Te</th>
                    <th>{{westShovelsTotal[2] * 25}} CuM</th>
                    <th>{{westShovelsTotal[3] * 29}} CuM</th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th>Total Coal</th>
                    <th>{{westShovelsTotal[0] * 45 + westShovelsTotal[1] * 55}} Te</th>
                    <th>Total OB</th>
                    <th>{{westShovelsTotal[2] * 25 + westShovelsTotal[3] * 29 }} CuM</th>
                    <th></th>
                </tr>
            </table>
        </div>


    </div>
</body>

</html>