<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Dudhichua Live</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">
    <meta name="Description" content="Dudhichua live reports">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <script src="shift.js"></script>
    <link rel="stylesheet" href="shift-1.css">
</head>

<body ng-app="dch" ng-controller='ctrl'>
    <header>
        <button ng-disabled="shift==1" ng-click="changeShift('prev')">&lt</button>
        <span ng-show="debug">[{{shift}}] </span>
        <span>{{date}}, {{shiftName}} Shift</span>
        <button ng-disabled="shift==lastShift" ng-click="changeShift('next')">&gt</button>
    </header>
    <nav>
        <div id="status">
            <input ng-model="status"></input>
        </div>
        <div id="menu">
            <div>
                <button ng-click="debug=!debug">Debug</button>
                <button ng-click="module=0">Summary</button>
                <button ng-click="module=1">Data</button>
            </div>
            <div>
                <button>Settings</button>
            </div>
        </div>
        <div ng-show="debug">
            <button ng-click="dummy()">Dummy</button>
            <button ng-click="refresh()">Refresh</button>
        </div>
    </nav>


    <!-- ////////////////////////////////////////////////////////////////////////// -->
    <div id="shovels" class="section">
        <div class="section-name">Shovels</div>
        <div class="machine" ng-repeat="x in shovels">
            <div class="machine-name">
                {{x.name}}
            </div>
            <div class="data">
                <table class="table-1">
                    <tr class="head-row">
                        <td></td>
                        <td>East Coal</td>
                        <td>East OB</td>
                    </tr>
                    <tr>
                        <td>100T</td>
                        <td><input ng-model="x.data.east_coal_100" class="field" type="number"></td>
                        <td><input ng-model="x.data.east_ob_100" class="field" type="number"></td>
                    </tr>
                    <tr>
                        <td>120T</td>
                        <td><input ng-model="x.data.east_coal_120" class="field" type="number"></td>
                        <td><input ng-model="x.data.east_ob_120" class="field" type="number"></td>
                    </tr>
                    <tr class="head-row">
                        <td></td>
                        <td>West Coal</td>
                        <td>West OB</td>
                    </tr>
                    <tr>
                        <td>100T</td>
                        <td><input ng-model="x.data.west_coal_100" class="field" type="number"></td>
                        <td><input ng-model="x.data.west_ob_100" class="field" type="number"></td>
                    </tr>
                    <tr>
                        <td>85T</td>
                        <td><input ng-model="x.data.west_coal_85" class="field" type="number"></td>
                        <td><input ng-model="x.data.west_ob_85" class="field" type="number"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

</html>