* {
	box-sizing: border-box;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	font:inherit;
}

body{
	background:lightgrey;
    font-family: 'Muli', sans-serif;
	font-size:1rem;
	text-align:center;
}

#status input{
	width:100%;
	border:none;
}

#menu{
	display: flex;
	justify-content:center;
}

.section{
	background:white;
    width:98%;
    margin:2rem auto;
    padding:16px 0;
    box-shadow:0px 4px 8px 2px rgba(0,0,0,0.5);  
    border-radius:3px;
}

.section-header{
	margin:10px 0;
	background:deepskyblue;
	color:white;
	padding:5px;
	font-size:150%
}

.table-head{
	font-size:150%;
	color:blue;
	text-align:left;
}

table {
	width:100%;
	table-layout: fixed;
}

input{
	width:90%;
	text-align:left;
	padding:0.5vw;
	border:1px solid lightgreen;
	color:blue;
}

input:focus{
	outline: 2px solid gold;
}



tr.head td,
tr.total td{
	background:lightcoral;
	color:white;
}



tr.unit td{
	padding:0;
	background: lightskyblue;
	color:white;
	font-size:0.7rem;
}

tr td{
	text-align:center;
	padding:10px 0;
	border:solid lightgray;
	border-width:1px 0;
}

button {
	widows: 5rem;
	height:2rem;
	margin:5px;
	padding:5px;
    
    cursor:pointer;
    font-size:1rem;
    background:deepskyblue;
    color:white;
    border:1px solid deepskyblue;
    border-radius:3px;
    box-shadow:3px 3px 5px 0px rgba(0,0,0,0.2);  
}

button:hover{
    background:white;
    color:deepskyblue;
    
}

button:active{
    transform:scale(0.9);
}

button:disabled{
    background:lightgrey;
    color:white;
    border-color:lightgrey;
}

.cancel-btn {
    width:25px;
    height:25px;
    padding:0px;
    font-size:16px;
}


.shovel-buttons{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

#east-shovels tr td:last-child{
width:10%
}

#draglines tr td:last-child{
width:30%
}


#surface-miners tr td:last-child{
width:40%
}


#outsourcing tr td:nth-child(2n+1){
width:40%;
}


#shovel-summary tr td{
width:20%
}

table.drg-hrs td{
	padding:0;
	background:powderblue;
}

table.drg-hrs tr td:first-child{
	font-size:80%;
width:25%;
padding-right:5px;

}

table.drg-hrs input{
	border:none;
	margin:0;
}

/* /////////////////////////////////////////////////////////////////////// */
/* @media(min-width:480px){
	body{
		font-size:1rem;
	}

header {
	justify-content: center;
}

header button{
	width:40px;
	height:40px;
	margin: 20px;
	border-radius:2px;
	font-size:1.5rem;
}

input{
	width:70%;
}

input.drg-hrs{
	width:20%;
}

.section > p {
	font-size:1.6rem;
}

td{
	padding:0.8vw;
}

.cancel-btn {
	width: 1.5rem;
	height: 1.5rem;
}


} */


