<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Dudhichua Live</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">
    <meta name="Description" content="Dudhichua live reports">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <script src="shift.js"></script>
    <link rel="stylesheet" href="shift.css">
</head>

<body ng-app="dch" ng-controller='ctrl'>
    <div class="section main-header">
        Shift Report
    </div>
    <div class="nav">
        <div id="status">
            <input ng-model="status"></input>
        </div>
        <div id="shift-id">
            <button ng-disabled="shift==1" ng-click="changeShift('prev')">&lt</button>
            <span>{{date}}, {{shiftName}} Shift</span>
            <button ng-disabled="shift==lastShift" ng-click="changeShift('next')">&gt</button>
        </div>
        <div id="menu">
            <div>
                <button ng-click="debug=!debug">Debug</button>
                <button ng-click="module=0">Summary</button>
                <button ng-click="module=1">Data</button>
            </div>
            <div ng-show="debug">
                <button ng-click="dummy()">Dummy</button>
                <button ng-click="refresh()">Refresh</button>
            </div>
        </div>
    </div>
    <div id="summary">
        <div id="shift-summary" class="section">
            <div class="table-head">Shift Summary</div>
            <table id="shift-summary" class="data">
                <tr class="head">
                    <td></td>
                    <td>Coal</td>
                    <td>Deptt OB</td>
                    <td>Outs OB</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>Te</td>
                    <td>cum</td>
                    <td>cum</td>
                </tr>
                <tr>
                    <td>Shovel</td>
                    <td>{{shovels_total.qty.coal}}</td>
                    <td>{{shovels_total.qty.ob}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Dragline</td>
                    <td></td>
                    <td>{{draglines_total.solid_qty}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>S Miners</td>
                    <td>{{surfaceMiners_total.data.prod}}</td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Out Src</td>
                    <td></td>
                    <td></td>
                    <td>{{outsourcings_total.data.qty}}</td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td>{{shovels_total.qty.coal+surfaceMiners_total.data.prod}}</td>
                    <td>{{shovels_total.qty.ob+draglines_total.solid_qty}}</td>
                    <td>{{outsourcings_total.data.qty}}</td>
                </tr>


            </table>
            <div class="table-head">Shovels</div>
            <table id="shovel-summary" class="data">
                <tr class="head">
                    <td></td>
                    <td>East Coal</td>
                    <td>East OB</td>
                    <td>West Coal</td>
                    <td>West OB</td>
                    <td>Total Coal</td>
                    <td>Total OB</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>Te</td>
                    <td>cum</td>
                    <td>Te</td>
                    <td>cum</td>
                    <td>Te</td>
                    <td>cum</td>
                </tr>
                <tr class="data" ng-repeat="x in shovels|filter:{$:true}">
                    <td class="name-col">{{x.name}}</td>
                    <td>{{x.qty.east_coal}}</td>
                    <td>{{x.qty.east_ob}}</td>
                    <td>{{x.qty.west_coal}}</td>
                    <td>{{x.qty.west_ob}}</td>
                    <td>{{x.qty.coal}}</td>
                    <td>{{x.qty.ob}}</td>
                </tr>
                <tr class="total">
                    <td class="name-col">Total</td>
                    <td>{{shovels_total.qty.east_coal}}</td>
                    <td>{{shovels_total.qty.east_ob}}</td>
                    <td>{{shovels_total.qty.west_coal}}</td>
                    <td>{{shovels_total.qty.west_ob}}</td>
                    <td>{{shovels_total.qty.coal}}</td>
                    <td>{{shovels_total.qty.ob}}</td>
                    <td></td>
                </tr>
            </table>
            <div class="table-head">Draglines</div>
            <table id="dragline-summary" class="data">
                <tr class="head">
                    <td></td>
                    <td>Solid</td>
                    <td>Rehandling</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>buckets</td>
                    <td>buckets</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in draglines">
                    <td>{{x.name}}</td>
                    <td>{{x.solid_qty}}</td>
                    <td>{{x.rehandling_qty}}</td>
                    <td>{{x.data.remark}}</td>
                </tr>
                <tr class="total">
                    <td>Qty</td>
                    <td>{{draglines_total.solid_qty}}</td>
                    <td>{{draglines_total.rehandling_qty}}</td>
                    <td></td>
                </tr>
            </table>
            <div class="table-head">Surface Miners</div>
            <table id="shovel-summary" class="data">
                <tr class="head">
                    <td></td>
                    <td>Working Hrs</td>
                    <td>Cutting</td>
                    <td>Production</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>hrs</td>
                    <td>mtrs</td>
                    <td>Te</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in surfaceMiners">
                    <td class="name-col">{{x.name}}</td>
                    <td>{{x.data.wrk}}</td>
                    <td>{{x.data.cutting}}</td>
                    <td>{{x.data.prod}}</td>
                    <td>{{x.data.remark}}</td>
                </tr>
                <tr class="total">
                    <td class="name-col">Total</td>
                    <td>{{surfaceMiners_total.data.wrk}}</td>
                    <td>{{surfaceMiners_total.data.cutting}}</td>
                    <td>{{surfaceMiners_total.data.prod}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <div id="data">

        <div id="east-shovels" class="section">
            <div class="section-header">
                East Shovels
            </div>

            <div class="shovel-buttons">
                <button ng-repeat="x in shovels" ng-click="x.data.east=true;" ng-disabled="x.data.east">
                    {{x.name}}
                </button>
            </div>

            <table class="data">
                <tr class="head">
                    <td></td>
                    <td>Coal-100</td>
                    <td>Coal-120</td>
                    <td>OB-100</td>
                    <td>OB-120</td>
                    <td></td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>Te</td>
                    <td>Te</td>
                    <td>cum</td>
                    <td>cum</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in shovels" ng-if="x.data.east">
                    <td class="name-col">{{x.name}}</td>
                    <td><input ng-change="refresh()" type="number" ng-model="x.data.east_coal_100"></td>
                    <td><input ng-change="refresh()" type="number" ng-model="x.data.east_coal_120"></td>
                    <td><input ng-change="refresh()" type="number" ng-model="x.data.east_ob_100"></td>
                    <td><input ng-change="refresh()" type="number" ng-model="x.data.east_ob_120"></td>
                    <td><button class="cancel-btn" ng-click="x.remove('east');"><span>X</span></button>
                    </td>
                </tr>
                <tr class="total">
                    <td class="name-col">Total</td>
                    <td>{{shovels_total.data.east_coal_100}}</td>
                    <td>{{shovels_total.data.east_coal_120}}</td>
                    <td>{{shovels_total.data.east_ob_100}}</td>
                    <td>{{shovels_total.data.east_ob_120}}</td>
                    <td></td>
                </tr>
                <tr class="total">
                    <td class="name-col">Qty</td>
                    <td>{{shovels_total.qty.east_coal_100}}</td>
                    <td>{{shovels_total.qty.east_coal_120}}</td>
                    <td>{{shovels_total.qty.east_ob_100}}</td>
                    <td>{{shovels_total.qty.east_ob_120}}</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div id="draglines" class="section">
            <div class="section-header">
                Draglines
            </div>
            <table class="data">
                <tr class="head">
                    <td></td>
                    <td>Solid</td>
                    <td>Rehandling</td>
                    <td>Timings</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>buckets</td>
                    <td>buckets</td>
                    <td>hrs</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in draglines">
                    <td class="name-col">{{x.name}}</td>
                    <td>
                        <input ng-change="refresh()" type="number" ng-model="x.data.solid">
                    </td>
                    <td>
                        <input ng-change="refresh()" type="number" ng-model="x.data.rehandling"></td>
                    </td>
                    <td class="timings">
                        <table class="drg-hrs">
                            <tr>
                                <td>Wrk</td>
                                <td><input ng-model="x.data.wrk"></td>
                            <tr>
                                <td>Mnt</td>
                                <td><input ng-model="x.data.mnt"></td>
                            </tr>
                            <tr>
                                <td>Bdn</td>
                                <td><input ng-model="x.data.bd"></td>
                            </tr>
                            <tr>
                                <td>Idl</td>
                                <td><input ng-model="x.data.idl"></td>
                            </tr>
                </tr>
            </table>
            </td>
            <td><input ng-change="refresh()" ng-model="x.data.remark"></input></td>
            </tr>
            <tr class="total">
                <td>Total</td>
                <td>{{draglines_total.data.solid}}</td>
                <td>{{draglines_total.data.rehandling}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="total">
                <td>Qty</td>
                <td>{{draglines_total.solid_qty}}</td>
                <td>{{draglines_total.rehandling_qty}}</td>
                <td></td>
                <td></td>
            </tr>
            </table>
        </div>

        <div id="surface-miners" class="section">
            <div class="section-header">
                Sruface Miners
            </div>
            <table class="data">
                <tr class="head">
                    <td></td>
                    <td>Wrk</td>
                    <td>Cut</td>
                    <td>Prod</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>hrs</td>
                    <td>m</td>
                    <td>Te</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in surfaceMiners">
                    <td class="name-col">{{x.name}}</td>
                    <td><input ng-change="refresh()" type="number" name="" id="" ng-model="x.data.wrk"></td>
                    <td><input ng-change="refresh()" type="number" name="" id="" ng-model="x.data.cutting"></td>
                    <td><input ng-change="refresh()" type="number" name="" id="" ng-model="x.data.prod"></td>
                    <td><input ng-change="refresh()" ng-model="x.data.remark"></input></td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td>{{surfaceMiners_total.data.wrk}}</td>
                    <td>{{surfaceMiners_total.data.cutting}}</td>
                    <td>{{surfaceMiners_total.data.prod}}</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div id="outsourcing" class="section">
            <div class="section-header">
                Out Sourcing
            </div>
            <table class="data">
                <tr class="head">
                    <td></td>
                    <td>Qty</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>cum</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in outsourcings">
                    <td class="name-col">{{x.name}}</td>
                    <td><input ng-change="refresh()" type="number" ng-model="x.data.qty"></td>
                    <td><input ng-change="refresh()" ng-model="x.data.remark"></input></td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td>{{outsourcings_total.data.qty}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>