* {
	box-sizing: border-box;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	font:inherit;
}

body{
	font-family: "consolas", sans-serif;
	font-size:1.3rem;
}


header {
	height:10vh;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background: purple;
	color: white;
	text-align:center;
	font-size:1.5rem;
}

header button{
	width:3rem;
	height: 100%;
	margin: 0;
	padding: 0;
	border-radius:0;
}

#status input{
	width:100%;
}

#menu{
	display: flex;
	justify-content:space-between;
}

.section{
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
}

.section-name{
	background:deepskyblue;
	color:white;
	width:100%;
	text-align:center;
	font-size: 150%
}

.machine {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border:1px solid deepskyblue;
	border-radius:1%;
	margin:2vh 2vw;
	text-align:center;
}

.machine:nth-child(odd){

}



.machine > div{
	margin:5px;
}


div.data{
	padding:4px;
	border-radius:4px;
}

.table-1 {
	table-layout: fixed;
	width: 100%;
}

.head-row{
	background: deepskyblue;
	color:white;
}

.table-1 td{
	border:1px solid deepskyblue;
}

.table-1 tr td:first-child{
	width:15%;
	padding-right:5px;
	text-align: right;
}



td > input {
	width:100%;
	margin:0;
	padding:3px;
	color:blue;
	border:none;
}

td > input:focus {
	outline: 3px solid gold;
}