<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Dudhichua Live</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">
    <meta name="Description" content="Dudhichua live reports">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <script src="shift.js"></script>
    <link rel="stylesheet" href="shift.css">
</head>

<body ng-app="dch" ng-controller='ctrl'>
    <header>
        <button ng-disabled="shift==1" ng-click="changeShift('prev')">&lt</button>
        <span ng-show="debug">[{{shift}}]  </span>
        <span>{{date}}, {{shiftName}} Shift</span>
        <button ng-disabled="shift==lastShift" ng-click="changeShift('next')">&gt</button>
    </header>
    <nav>
        <div id="status">
            <input ng-model="status"></input>
        </div>
        <div id="menu">
             <div>
                    <button ng-click="debug=!debug">Debug</button>
                    <button ng-click="module=0">Summary</button>
                    <button ng-click="module=1">Data</button>
             </div>
             <div>
                 <button>Settings</button>
             </div>              
        </div>
        <div ng-show="debug">
                <button ng-click="dummy()">Dummy</button>
                <button ng-click="refresh()">Refresh</button>
        </div>
    </nav>

    <div id="summary" ng-show="module==0">
        <div id="full-summary">
            <table class="data-table">
                <tr class="head">
                    <td></td>
                    <td>Coal</td>
                    <td>Deptt OB</td>
                    <td>Out OB</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>Te</td>
                    <td>cum</td>
                    <td>cum</td>
                </tr>
                <tr class="data">
                    <td>Shovel</td>
                    <td>{{shovels_total.qty.coal}}</td>
                    <td>{{shovels_total.qty.ob}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Drgl</td>
                    <td></td>
                    <td>{{draglines_total.solid_qty}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>SM</td>
                    <td>{{surfaceMiners_total.data.prod}}</td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>OS</td>
                    <td></td>
                    <td></td>
                    <td>{{outsourcings_total.data.qty}}</td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td>{{shovels_total.qty.coal+surfaceMiners_total.data.prod}}</td>
                    <td>{{shovels_total.qty.ob+draglines_total.solid_qty}}</td>
                    <td>{{outsourcings_total.data.qty}}</td>
                </tr>
            </table>
        </div>
        <div id="shovel-summary">
            <table class="data-table">
                <tr class="head">
                    <td class="name-col">Shovel</td>
                    <td>East Coal</td>
                    <td>East OB</td>
                    <td>West Coal</td>
                    <td>West OB</td>
                    <td>Coal</td>
                    <td>OB</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>Te</td>
                    <td>cum</td>
                    <td>Te</td>
                    <td>cum</td>
                    <td>Te</td>
                    <td>cum</td>
                </tr>
                <tr class="data" ng-repeat="x in shovels|filter:{$:true}">
                    <td class="name-col">{{x.name}}</td>
                    <td>{{x.qty.east_coal}}</td>
                    <td>{{x.qty.east_ob}}</td>
                    <td>{{x.qty.west_coal}}</td>
                    <td>{{x.qty.west_ob}}</td>
                    <td>{{x.qty.coal}}</td>
                    <td>{{x.qty.ob}}</td>
                </tr>
                <tr class="total">
                    <td class="name-col">Total</td>
                    <td>{{shovels_total.qty.east_coal}}</td>
                    <td>{{shovels_total.qty.east_ob}}</td>
                    <td>{{shovels_total.qty.west_coal}}</td>
                    <td>{{shovels_total.qty.west_ob}}</td>
                    <td>{{shovels_total.qty.coal}}</td>
                    <td>{{shovels_total.qty.ob}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div id="draglines-summary" class="section">
            <table class="data-table">
                <tr class="head">
                    <td></td>
                    <td>Sld</td>
                    <td>Reh</td>
                    <td>wrk-mnt-bd-idl</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>bkts</td>
                    <td>bkts</td>
                    <td>hrs</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in draglines">
                    <td class="name-col">{{x.name}}</td>
                    <td>
                        {{x.data.solid}}
                    </td>
                    <td>
                        {{x.data.rehandling}}</td>
                    </td>
                    <td>
                        {{x.data.hrs}}
                    </td>
                    <td>{{x.data.remark}}</td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td>{{draglines_total.data.solid}}</td>
                    <td>{{draglines_total.data.rehandling}}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="total">
                    <td>Qty</td>
                    <td>{{draglines_total.solid_qty}}</td>
                    <td>{{draglines_total.rehandling_qty}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="debug" ng-show="debug">
            <textarea ng-model="packet_string" cols="50" rows="50" style="width:100%"></textarea>
        </div>

    </div>

    <div id="data" ng-show="module==1">

        <div id="east-shovels" class="section">
            <p>East Shovels</p>
            <div class="shovel-buttons">
                <button ng-repeat="x in shovels" ng-click="x.data.east=true;" ng-disabled="x.data.east">
                    {{x.name}}
                </button>
            </div>

            <table class="data-table">
                <tr class="head">
                    <td></td>
                    <td>Coal-100</td>
                    <td>Coal-120</td>
                    <td>OB-100</td>
                    <td>OB-120</td>
                    <td></td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>Te</td>
                    <td>Te</td>
                    <td>cum</td>
                    <td>cum</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in shovels" ng-if="x.data.east">
                    <td class="name-col">{{x.name}}</td>
                    <td><input ng-change="refresh()" type="number" ng-model="x.data.east_coal_100"></td>
                    <td><input ng-change="refresh()" type="number" ng-model="x.data.east_coal_120"></td>
                    <td><input ng-change="refresh()" type="number" ng-model="x.data.east_ob_100"></td>
                    <td><input ng-change="refresh()" type="number" ng-model="x.data.east_ob_120"></td>
                    <td><button class="cancel-btn" ng-click="x.remove('east');"><span>X</span></button>
                    </td>
                </tr>
                <tr class="total">
                    <td class="name-col">Total</td>
                    <td>{{shovels_total.data.east_coal_100}}</td>
                    <td>{{shovels_total.data.east_coal_120}}</td>
                    <td>{{shovels_total.data.east_ob_100}}</td>
                    <td>{{shovels_total.data.east_ob_120}}</td>
                    <td></td>
                </tr>
                <tr class="total">
                    <td class="name-col">Qty</td>
                    <td>{{shovels_total.qty.east_coal_100}}</td>
                    <td>{{shovels_total.qty.east_coal_120}}</td>
                    <td>{{shovels_total.qty.east_ob_100}}</td>
                    <td>{{shovels_total.qty.east_ob_120}}</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div id="draglines" class="section">
            <p>Draglines</p>
            <table class="data-table">
                <tr class="head">
                    <td></td>
                    <td>Sld</td>
                    <td>Reh</td>
                    <td>wrk-mnt-bd-idl</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>bkts</td>
                    <td>bkts</td>
                    <td>hrs</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in draglines">
                    <td class="name-col">{{x.name}}</td>
                    <td>
                        <input ng-change="refresh()" type="number" ng-model="x.data.solid">
                    </td>
                    <td>
                        <input ng-change="refresh()" type="number" ng-model="x.data.rehandling"></td>
                    </td>
                    <td>
                        <input ng-change="refresh()" ng-model="x.data.hrs">
                    </td>
                    <td><input ng-change="refresh()" ng-model="x.data.remark"></input></td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td>{{draglines_total.data.solid}}</td>
                    <td>{{draglines_total.data.rehandling}}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="total">
                    <td>Qty</td>
                    <td>{{draglines_total.solid_qty}}</td>
                    <td>{{draglines_total.rehandling_qty}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div id="surface-miners" class="section">
            <p>Surface Miners</p>
            <table class="data-table">
                <tr class="head">
                    <td></td>
                    <td>Wrk</td>
                    <td>Cut</td>
                    <td>Prod</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>hrs</td>
                    <td>m</td>
                    <td>Te</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in surfaceMiners">
                    <td class="name-col">{{x.name}}</td>
                    <td><input ng-change="refresh()" type="number" name="" id="" ng-model="x.data.wrk"></td>
                    <td><input ng-change="refresh()" type="number" name="" id="" ng-model="x.data.cutting"></td>
                    <td><input ng-change="refresh()" type="number" name="" id="" ng-model="x.data.prod"></td>
                    <td><input ng-change="refresh()" ng-model="x.data.remark"></input></td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td>{{surfaceMiners_total.data.wrk}}</td>
                    <td>{{surfaceMiners_total.data.cutting}}</td>
                    <td>{{surfaceMiners_total.data.prod}}</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div id="outsourcing" class="section">
            <p>Out Sourcing</p>
            <table class="data-table">
                <tr class="head">
                    <td></td>
                    <td>Qty</td>
                    <td>Remark</td>
                </tr>
                <tr class="unit">
                    <td></td>
                    <td>cum</td>
                    <td></td>
                </tr>
                <tr class="data" ng-repeat="x in outsourcings">
                    <td class="name-col">{{x.name}}</td>
                    <td><input ng-change="refresh()" type="number" ng-model="x.data.qty"></td>
                    <td><input ng-change="refresh()" ng-model="x.data.remark"></input></td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td>{{outsourcings_total.data.qty}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>