.page-head{
    height:100px;
    background:#226ed7;
    color:white;
}

.shovel-name {
    color:dodgerblue;
    font-size:1.5em;
    border-radius:3px;
    margin:auto;
    padding:6px;

}

