#east-shovels{

}

#west-shovels{

}

#draglines{

}

#surface-miners{

}

#outsourcing{
 
}

*{
    box-sizing:border-box;
    font-family: 'Muli', sans-serif;
    vertical-align:middle;
    border-collapse: collapse;
    color:deepskyblue;
    border-style:solid;
    border-color:deepskyblue;
    border-width:0px;
}


/* ///////////////////////////////////////////////////////// Generic */


body {
}

.hdn {
    display:none;  
}

.inl {
    display:inline-block;
}

.bdr {
    border:1px solid rgb(189, 136, 136);
}

.cbx {
    display:inline-flex;
    justify-content:center;
    align-items:center;
}

.lft{
    text-align:left;
}


/* /////////////////////////////////////// Elements */

.section {
    margin-bottom: 100px; 
    border-radius:3px;
    padding:20px;
}

.main-header{
    background-color:deepskyblue;
    color:white;
    margin:20px 0px;
    text-align:center;
    font-size:2em;
    padding:10px;
    border-radius:3px;
    border-style:double;
    border-width:3px 0px;
}

.sub-header {
    text-align:center;
    font-size:1.5em;
    padding:6px;
    border-radius:3px;
}

input, select, textarea{
    width:40%;
    margin:5px;
    padding:4px;
    font-size:1em;
    border-width:1px;
    border-radius:2px; 
    color:blue;
    text-align:left;
}

textarea {
    width:95%;
}

select:disabled, input:disabled{


}

button {
    background-color:deepskyblue;
    font-size:1em;
    color:white;
    display: inline-block;
    margin:5px;
    padding:10px;
    border-radius:3px;
    border-width:1px;
    cursor: pointer;
}

button.cancel {
    width:30px;
    height:30px;
    padding:0px;
}

button:hover{
    background-color:white;
    border-style:solid;
    background:rgb(60, 233, 60);
    border-color:rgb(60, 233, 60);
}

button:disabled {
    background-color:white;
    color:deepskyblue;
    border-color:deepskyblue;
}

/* /////////////////////////////////////// Table */

.data-table {
    margin:0 auto 50px;
    width:90%;
}

td {
    max-width: 200px;
    padding:5px;
    text-align:center;
    border-width:1px 0px;
}

th {
    text-transform: uppercase;
    padding:5px;
    text-align:center;
}

tr.table-name {
    background-color:deepskyblue;
   
}

tr.table-name span {
    font-size:1.5em;
    border-radius:20px;
    padding:0px 100px;
    color:white;
}

tr:nth-child(even){

}
tr:nth-child(odd){
    
}
tr.head-row td{
    background-color:deepskyblue;
    color:white;
    text-transform: uppercase;
}

tr.total-row td {
    border-width:0px;
    color:blue;
}

td.name-col{
    
}

td.close-col {

}






/* ///////////////////////////////////////////////////////// Sizing */
.fwd {
    width:100%;
}
.hwd{
    width:50%;
}  
.qwd{
    width:24%;
}
.twd{
    width:33%;
}  
.fht {
    height:100%;
}
.hht{
    height:50%;
}
