.shovel-buttons button {
            margin: 40px 5px 0px;
        }

        .section table {
            margin-top: 30px;
        }

        table input {
            color: blue;
            font-size: 125%;
        }

        .section-selector .tab {
            border-radius: 3px 3px 0 0;
        }

        .shift-selector .tab {
            border: none;
            background: none;
            cursor: pointer;
            padding: 7px 10px;
            border-radius: 5px;
            color: white;
        }

        #status {
            background: none;
        }